<main id="portfolio-content">
  <header id=skills>
    <h1>Web Dev</h1>
    <ul id="skillset">
      <li>Typescript</li>
      <li>NodeJS</li>
      <li>AngularJS</li>
      <li>ScSS</li>
    </ul>
    <ul id="changeout">

    </ul>
  </header>
  <div id="flex-header"></div>
  <div id="flex-container" [@gen-figure]="wordpress.length + staticPages.length">
  <article class="portfolio-images">
      <h2>WordPress Sites</h2>
    <figure *ngFor="let site of wordpress; let i = index" (click)="launchLightBox(wordpress, i)" class="gen-figure web">
      <img srcset="{{imagePath}}{{site.name}}-200{{site.fileType}} 200w,
                  {{imagePath}}{{site.name}}-400{{site.fileType}} 400w,
                  {{imagePath}}{{site.name}}-600{{site.fileType}} 600w,
                  {{imagePath}}{{site.name}}-800{{site.fileType}} 800w,
                  {{imagePath}}{{site.name}}-1100{{site.fileType}}"
          sizes="(max-width: 300px) 200px,
                (max-width: 400px) 400px,
                (max-width: 600px) 600px,
                (max-width: 800px) 800px,
                1100px"
          src="{{imagePath}}{{site.name}}-1100{{site.fileType}}" alt="{{site.alt}}">
          <figcaption>
              <h3>{{site.title}}</h3>
              <nav>
                <a href="{{site.github}}" target="_blank"><i class="fab fa-github"></i></a>
                <a href="{{site.link}}" target="_blank"><i class="fas fa-share-square"></i></a>
              </nav>
            </figcaption>
      </figure>
    </article>
    <article class="portfolio-images">
        <h2>Static Sites</h2>
      <figure *ngFor="let site of staticPages; let i = index" (click)="launchLightBox(staticPages, i)" class="gen-figure web">
        <img srcset="{{imagePath}}{{site.name}}-200{{site.fileType}} 200w,
                    {{imagePath}}{{site.name}}-400{{site.fileType}} 400w,
                    {{imagePath}}{{site.name}}-600{{site.fileType}} 600w,
                    {{imagePath}}{{site.name}}-800{{site.fileType}} 800w,
                    {{imagePath}}{{site.name}}-1100{{site.fileType}}"
            sizes="(max-width: 300px) 200px,
                  (max-width: 400px) 400px,
                  (max-width: 600px) 600px,
                  (max-width: 800px) 800px,
                  1100px"
            src="{{imagePath}}{{site.name}}-1100{{site.fileType}}" alt="{{site.alt}}">
          <figcaption>
              <h3>{{site.title}}</h3>
              <nav>
                <a href="{{site.github}}" target="_blank"><i class="fab fa-github"></i></a>
                <a href="{{site.link}}" target="_blank"><i class="fas fa-share-square"></i></a>
              </nav>
            </figcaption>
        </figure>
      </article>
    </div>
</main>
<div id="dark-box" class="hide">
  <figure id="image-container" >
    <img id="image-swap" (load)="detectAspectRatio()">
      <figcaption id="text-container">
          <h1 id="swap-h1"></h1>
          <p id="swap-p"></p>
          <footer>
              <nav>
                  <ul id="redirect-links">
                  </ul>
              </nav>
          </footer>
      </figcaption>
  </figure>
  <img src="../assets/images/cross.svg" id="cross" (click)="closeImageBox()"/>
</div>