<main id="portfolio-content">
  <header id=skills>
    <h1>Illustration</h1>
    <ul id="skillset">
      <li>Photoshop</li>
      <li>Inks</li>
      <li>Characters</li>
      <li>Contrast</li>
      <li>Linearity</li>
    </ul>
    <ul id="changeout">

    </ul>
  </header>
  <div id="flex-header"></div>
  <div id="flex-container" [@gen-figure]="doodles.length+inks.length+colorPencil.length+characterStudy.length">
    <article class="portfolio-images">
        <figure *ngFor="let study of doodles; let i = index" (click)="launchLightBox(doodles, i)" class="gen-figure">
          <img srcset="{{imagePath}}{{study.name}}-200{{study.fileType}} 200w,
                      {{imagePath}}{{study.name}}-400{{study.fileType}} 400w,
                      {{imagePath}}{{study.name}}-600{{study.fileType}} 600w,
                      {{imagePath}}{{study.name}}-800{{study.fileType}} 800w,
                      {{imagePath}}{{study.name}}-1100{{study.fileType}}"
              sizes="(max-width: 300px) 200px,
                    (max-width: 400px) 400px,
                    (max-width: 600px) 600px,
                    (max-width: 800px) 800px,
                    1100px"
              src="{{imagePath}}{{study.name}}-1100{{study.fileType}}" alt="{{study.alt}}">
              <figcaption>
                    <h3>{{study.title}}</h3>
                    <nav>
                      <a href="{{study.link}}" target="_blank"><i class="fas fa-share-square"></i></a>
                    </nav>
                  </figcaption>
          </figure>
        </article>
        <article class="portfolio-images">
            <figure *ngFor="let study of inks; let i = index" (click)="launchLightBox(inks, i)" class="gen-figure">
              <img srcset="{{imagePath}}{{study.name}}-200{{study.fileType}} 200w,
                          {{imagePath}}{{study.name}}-400{{study.fileType}} 400w,
                          {{imagePath}}{{study.name}}-600{{study.fileType}} 600w,
                          {{imagePath}}{{study.name}}-800{{study.fileType}} 800w,
                          {{imagePath}}{{study.name}}-1100{{study.fileType}}"
                  sizes="(max-width: 300px) 200px,
                        (max-width: 400px) 400px,
                        (max-width: 600px) 600px,
                        (max-width: 800px) 800px,
                        1100px"
                  src="{{imagePath}}{{study.name}}-1100{{study.fileType}}" alt="{{study.alt}}">
                  <figcaption>
                        <h3>{{study.title}}</h3>
                        <nav>
                          <a href="{{study.link}}" target="_blank"><i class="fas fa-share-square"></i></a>
                        </nav>
                      </figcaption>
              </figure>
          </article>
          <article class="portfolio-images">
              <figure *ngFor="let study of colorPencil; let i = index" (click)="launchLightBox(colorPencil, i)" class="gen-figure">
                <img srcset="{{imagePath}}{{study.name}}-200{{study.fileType}} 200w,
                            {{imagePath}}{{study.name}}-400{{study.fileType}} 400w,
                            {{imagePath}}{{study.name}}-600{{study.fileType}} 600w,
                            {{imagePath}}{{study.name}}-800{{study.fileType}} 800w,
                            {{imagePath}}{{study.name}}-1100{{study.fileType}}"
                    sizes="(max-width: 300px) 200px,
                          (max-width: 400px) 400px,
                          (max-width: 600px) 600px,
                          (max-width: 800px) 800px,
                          1100px"
                    src="{{imagePath}}{{study.name}}-1100{{study.fileType}}" alt="{{study.alt}}">
                    <figcaption>
                            <h3>{{study.title}}</h3>
                            <nav>
                              <a href="{{study.link}}" target="_blank"><i class="fas fa-share-square"></i></a>
                            </nav>
                          </figcaption>
                </figure>
            </article>
            <article class="portfolio-images">
                <figure *ngFor="let study of characterStudy; let i = index" (click)="launchLightBox(characterStudy, i)" class="gen-figure">
                  <img srcset="{{imagePath}}{{study.name}}-200{{study.fileType}} 200w,
                              {{imagePath}}{{study.name}}-400{{study.fileType}} 400w,
                              {{imagePath}}{{study.name}}-600{{study.fileType}} 600w,
                              {{imagePath}}{{study.name}}-800{{study.fileType}} 800w,
                              {{imagePath}}{{study.name}}-1100{{study.fileType}}"
                      sizes="(max-width: 300px) 200px,
                            (max-width: 400px) 400px,
                            (max-width: 600px) 600px,
                            (max-width: 800px) 800px,
                            1100px"
                      src="{{imagePath}}{{study.name}}-1100{{study.fileType}}" alt="{{study.alt}}">
                      <figcaption>
                            <h3>{{study.title}}</h3>
                            <nav>
                              <a href="{{study.link}}" target="_blank"><i class="fas fa-share-square"></i></a>
                            </nav>
                          </figcaption>
                  </figure>
              </article>
            </div>
</main>
<div id="dark-box" class="hide">
    <figure id="image-container">
        <img id="image-swap" (load)="detectAspectRatio()">
        <figcaption id="text-container">
            <h1 id="swap-h1"></h1>
            <p id="swap-p"></p>
            <footer>
                <nav>
                    <ul id="redirect-links">
                    </ul>
                </nav>
            </footer>
        </figcaption>
    </figure>
    <img src="images/cross.svg" id="cross" (click)="closeImageBox()"/>
</div>