<article>
  <header id=skills>
    <h1>Illustration</h1>
    <ul id="skillset">
      <li>Photoshop</li>
      <li>Inks</li>
      <li>Characters</li>
      <li>Contrast</li>
      <li>Linearity</li>
    </ul>
    <ul id="changeout">

    </ul>
  </header>
</article>
<main id="portfolio-content">
    <article>
        <figure *ngFor="let study of doodles">
          <img srcset="{{imagePath}}{{study.name}}-200{{study.fileType}} 200w,
                      {{imagePath}}{{study.name}}-400{{study.fileType}} 400w,
                      {{imagePath}}{{study.name}}-600{{study.fileType}} 600w,
                      {{imagePath}}{{study.name}}-800{{study.fileType}} 800w,
                      {{imagePath}}{{study.name}}-1100{{study.fileType}}"
              sizes="(max-width: 300px) 200px,
                    (max-width: 400px) 400px,
                    (max-width: 600px) 600px,
                    (max-width: 800px) 800px,
                    1100px"
              src="{{imagePath}}{{study.name}}-1100{{study.fileType}}" alt="{{study.alt}}">
          </figure>
        </article>
        <article>
            <figure *ngFor="let study of inks">
              <img srcset="{{imagePath}}{{study.name}}-200{{study.fileType}} 200w,
                          {{imagePath}}{{study.name}}-400{{study.fileType}} 400w,
                          {{imagePath}}{{study.name}}-600{{study.fileType}} 600w,
                          {{imagePath}}{{study.name}}-800{{study.fileType}} 800w,
                          {{imagePath}}{{study.name}}-1100{{study.fileType}}"
                  sizes="(max-width: 300px) 200px,
                        (max-width: 400px) 400px,
                        (max-width: 600px) 600px,
                        (max-width: 800px) 800px,
                        1100px"
                  src="{{imagePath}}{{study.name}}-1100{{study.fileType}}" alt="{{study.alt}}">
              </figure>
          </article>
          <article>
              <figure *ngFor="let study of colorPencil">
                <img srcset="{{imagePath}}{{study.name}}-200{{study.fileType}} 200w,
                            {{imagePath}}{{study.name}}-400{{study.fileType}} 400w,
                            {{imagePath}}{{study.name}}-600{{study.fileType}} 600w,
                            {{imagePath}}{{study.name}}-800{{study.fileType}} 800w,
                            {{imagePath}}{{study.name}}-1100{{study.fileType}}"
                    sizes="(max-width: 300px) 200px,
                          (max-width: 400px) 400px,
                          (max-width: 600px) 600px,
                          (max-width: 800px) 800px,
                          1100px"
                    src="{{imagePath}}{{study.name}}-1100{{study.fileType}}" alt="{{study.alt}}">
                </figure>
            </article>
            <article>
                <figure *ngFor="let study of characterStudy">
                  <img srcset="{{imagePath}}{{study.name}}-200{{study.fileType}} 200w,
                              {{imagePath}}{{study.name}}-400{{study.fileType}} 400w,
                              {{imagePath}}{{study.name}}-600{{study.fileType}} 600w,
                              {{imagePath}}{{study.name}}-800{{study.fileType}} 800w,
                              {{imagePath}}{{study.name}}-1100{{study.fileType}}"
                      sizes="(max-width: 300px) 200px,
                            (max-width: 400px) 400px,
                            (max-width: 600px) 600px,
                            (max-width: 800px) 800px,
                            1100px"
                      src="{{imagePath}}{{study.name}}-1100{{study.fileType}}" alt="{{study.alt}}">
                  </figure>
              </article>
</main>