<main id="portfolio-content">
    <header id="skills" class="about" [@pic-right]="">
      <img src="../assets/images/profile-picture.png">
    </header>

    <article class="about" [@article-left]="">
      <h2>About Elle</h2>
      <p>Elle Pope is a small-time Wisconsininte living in big city Seattle. They are a creator who strives for the functional,     the bizarre, and the new. From programming to illustration, they enjoy creating in a multitude of media.</p>

      <p>Elle's ultimate passion is in interactive systems, such as application development, video games, virtual reality, and comics and books (although all reading is interactive, this is more referring to augmented reality and interactive story novels). These systems have the capacity to foster a positive environment as well as promote critical thinking. This is why they started Poly entertainment, a company that creates Multimedia Interactive Systems (MISs) that strive to promote diversity, truth, and the abstruse. The primary goal of the company is to explore the possibilities of computer science and interaction, whilst harboring a positive community.</p>
        
      <p>Beyond their work, Elle enjoys hanging out with friends and starting projects with others. Beyond socialization, they enjoy reading, running, playing with inks, and keeping up with sociological/anthropological studies and trends. If you would like to contact Elle, please refer to the contact form in the footer.</p>
    </article>
  </main>
