<main id="portfolio-content">
  <header id=skills>
    <h1>Design</h1>
    <ul id="skillset">
      <li>Illustrator</li>
      <li>InDesign</li>
      <li>Logos</li>
      <li>Repetition</li>
      <li>Balance</li>
    </ul>
    <ul id="changeout">

    </ul>
  </header>
  <div id="wrapper">
    <article>
        <figure *ngFor="let design of banners; let i = index" (click)="launchLightBox(banners, i)">
          <img srcset="{{imagePath}}{{design.name}}-200{{design.fileType}} 200w,
                      {{imagePath}}{{design.name}}-400{{design.fileType}} 400w,
                      {{imagePath}}{{design.name}}-600{{design.fileType}} 600w,
                      {{imagePath}}{{design.name}}-800{{design.fileType}} 800w,
                      {{imagePath}}{{design.name}}-1100{{design.fileType}}"
              sizes="(max-width: 300px) 200px,
                    (max-width: 400px) 400px,
                    (max-width: 600px) 600px,
                    (max-width: 800px) 800px,
                    1100px"
              src="{{imagePath}}{{design.name}}-1100{{design.fileType}}" alt="{{design.alt}}">
              <figcaption>
                  <h3>{{design.title}}</h3>
                  <nav>
                    <a href="{{design.link}}" target="_blank"><i class="fas fa-share-square"></i></a>
                  </nav>
                </figcaption>
          </figure>
        </article>
        <article>
            <figure *ngFor="let design of logos; let i = index" (click)="launchLightBox(logos, i)">
              <img srcset="{{imagePath}}{{design.name}}-200{{design.fileType}} 200w,
                          {{imagePath}}{{design.name}}-400{{design.fileType}} 400w,
                          {{imagePath}}{{design.name}}-600{{design.fileType}} 600w,
                          {{imagePath}}{{design.name}}-800{{design.fileType}} 800w,
                          {{imagePath}}{{design.name}}-1100{{design.fileType}}"
                  sizes="(max-width: 300px) 200px,
                        (max-width: 400px) 400px,
                        (max-width: 600px) 600px,
                        (max-width: 800px) 800px,
                        1100px"
                  src="{{imagePath}}{{design.name}}-1100{{design.fileType}}" alt="{{design.alt}}">
                  <figcaption>
                        <h3>{{design.title}}</h3>
                        <nav>
                          <a href="{{design.link}}" target="_blank"><i class="fas fa-share-square"></i></a>
                        </nav>
                      </figcaption>
              </figure>
          </article>
          <article>
              <figure *ngFor="let design of icons; let i = index" (click)="launchLightBox(icons, i)">
                <img srcset="{{imagePath}}{{design.name}}-200{{design.fileType}} 200w,
                            {{imagePath}}{{design.name}}-400{{design.fileType}} 400w,
                            {{imagePath}}{{design.name}}-600{{design.fileType}} 600w,
                            {{imagePath}}{{design.name}}-800{{design.fileType}} 800w,
                            {{imagePath}}{{design.name}}-1100{{design.fileType}}"
                    sizes="(max-width: 300px) 200px,
                          (max-width: 400px) 400px,
                          (max-width: 600px) 600px,
                          (max-width: 800px) 800px,
                          1100px"
                    src="{{imagePath}}{{design.name}}-1100{{design.fileType}}" alt="{{design.alt}}">
                    <figcaption>
                            <h3>{{design.title}}</h3>
                            <nav>
                              <a href="{{design.link}}" target="_blank"><i class="fas fa-share-square"></i></a>
                            </nav>
                          </figcaption>
                </figure>
            </article>
            <article>
                <figure *ngFor="let design of layouts; let i = index" (click)="launchLightBox(layouts, i)">
                  <img srcset="{{imagePath}}{{design.name}}-200{{design.fileType}} 200w,
                              {{imagePath}}{{design.name}}-400{{design.fileType}} 400w,
                              {{imagePath}}{{design.name}}-600{{design.fileType}} 600w,
                              {{imagePath}}{{design.name}}-800{{design.fileType}} 800w,
                              {{imagePath}}{{design.name}}-1100{{design.fileType}}"
                      sizes="(max-width: 300px) 200px,
                            (max-width: 400px) 400px,
                            (max-width: 600px) 600px,
                            (max-width: 800px) 800px,
                            1100px"
                      src="{{imagePath}}{{design.name}}-1100{{design.fileType}}" alt="{{design.alt}}">
                      <figcaption>
                            <h3>{{design.title}}</h3>
                            <nav>
                              <a href="{{design.link}}" target="_blank"><i class="fas fa-share-square"></i></a>
                            </nav>
                          </figcaption>
                  </figure>
              </article>
          </div>
</main>
<div id="dark-box" class="hide">
    <figure id="image-container">
        <img id="image-swap" (load)="detectAspectRatio()">
        <figcaption id="text-container">
            <h1 id="swap-h1"></h1>
            <p id="swap-p"></p>
            <footer>
                <nav>
                    <ul id="redirect-links">
                    </ul>
                </nav>
            </footer>
        </figcaption>
    </figure>
    <img src="images/cross.svg" id="cross" (click)="closeImageBox()"/>
</div>