<article>
  <header id=skills>
    <h1>Design</h1>
    <ul id="skillset">
      <li>Illustrator</li>
      <li>InDesign</li>
      <li>Logos</li>
      <li>Repetition</li>
      <li>Balance</li>
    </ul>
    <ul id="changeout">

    </ul>
  </header>
</article>
<main id="portfolio-content">
    <article *ngFor="let design in banners">
        <figure>
          <img srcset="{{imagePath}}{{design.name}}-200{{design.fileType}} 200w,
                      {{imagePath}}{{design.name}}-400{{design.fileType}} 400w,
                      {{imagePath}}{{design.name}}-600{{design.fileType}} 600w,
                      {{imagePath}}{{design.name}}-800{{design.fileType}} 800w,
                      {{imagePath}}{{design.name}}-1100{{design.fileType}}"
              sizes="(max-width: 300px) 200px,
                    (max-width: 400px) 400px,
                    (max-width: 600px) 600px,
                    (max-width: 800px) 800px,
                    1100px"
              src="{{imagePath}}{{design.name}}-1100{{design.fileType}}" alt="{{design.alt}}">
          </figure>
        </article>
        <article *ngFor="let design in logos">
            <figure>
              <img srcset="{{imagePath}}{{design.name}}-200{{design.fileType}} 200w,
                          {{imagePath}}{{design.name}}-400{{design.fileType}} 400w,
                          {{imagePath}}{{design.name}}-600{{design.fileType}} 600w,
                          {{imagePath}}{{design.name}}-800{{design.fileType}} 800w,
                          {{imagePath}}{{design.name}}-1100{{design.fileType}}"
                  sizes="(max-width: 300px) 200px,
                        (max-width: 400px) 400px,
                        (max-width: 600px) 600px,
                        (max-width: 800px) 800px,
                        1100px"
                  src="{{imagePath}}{{design.name}}-1100{{design.fileType}}" alt="{{design.alt}}">
              </figure>
          </article>
          <article *ngFor="let design in icons">
              <figure>
                <img srcset="{{imagePath}}{{design.name}}-200{{design.fileType}} 200w,
                            {{imagePath}}{{design.name}}-400{{design.fileType}} 400w,
                            {{imagePath}}{{design.name}}-600{{design.fileType}} 600w,
                            {{imagePath}}{{design.name}}-800{{design.fileType}} 800w,
                            {{imagePath}}{{design.name}}-1100{{design.fileType}}"
                    sizes="(max-width: 300px) 200px,
                          (max-width: 400px) 400px,
                          (max-width: 600px) 600px,
                          (max-width: 800px) 800px,
                          1100px"
                    src="{{imagePath}}{{design.name}}-1100{{design.fileType}}" alt="{{design.alt}}">
                </figure>
            </article>
            <article *ngFor="let design in layouts">
                <figure>
                  <img srcset="{{imagePath}}{{design.name}}-200{{design.fileType}} 200w,
                              {{imagePath}}{{design.name}}-400{{design.fileType}} 400w,
                              {{imagePath}}{{design.name}}-600{{design.fileType}} 600w,
                              {{imagePath}}{{design.name}}-800{{design.fileType}} 800w,
                              {{imagePath}}{{design.name}}-1100{{design.fileType}}"
                      sizes="(max-width: 300px) 200px,
                            (max-width: 400px) 400px,
                            (max-width: 600px) 600px,
                            (max-width: 800px) 800px,
                            1100px"
                      src="{{imagePath}}{{design.name}}-1100{{design.fileType}}" alt="{{design.alt}}">
                  </figure>
              </article>
</main>